# Core_Python_Practice

In [ ]:
# Function to find factors of a given number and check if they are even or odd
def find_factors_and_check_parity(number):
    print(f"Factors of {number}:")
    
    for i in range(1, number + 1):
        if number % i == 0:  # Check if i is a factor
            if i % 2 == 0:  # Check if the factor is even
                print(f"{i} is even")
            else:  # Otherwise, the factor is odd
                print(f"{i} is odd")

# Input: Ask the user to enter a number
number = int(input("Enter a number: "))

# Call the function with the user input
find_factors_and_check_parity(number)

In [5]:
# Accept a sequence of words as input
input_string = input("Enter a sequence of words: ")

# Split the input string into a list of words
words_list = input_string.split() # split function, split the string into list of words and then its operate any function

# Sort the list of words alphabetically
words_list.sort() # sort alphabetically

# Print the sorted words
print("Sorted words:", " ".join(words_list)) # join the string

Enter a sequence of words:  mukut animesh radha shayam

Sorted words: animesh mukut radha shayam

In [7]:
# Function to check if all digits of a number are odd
def all_digits_odd(number):
    # Convert the number to a string to check each digit
    for digit in str(number): 
        # Check if the digit is even
        if int(digit) % 2 == 0:
            return False 
    return True

# Find all numbers between 1000 and 3000 where each digit is odd
count = 0
for number in range(1001, 3000):  # From 1001 to 2999, both excluded
    if all_digits_odd(number):
        count += 1

# Print the count of such numbers
print(f"The number of such elements is: {count}")

The number of such elements is: 125

In [9]:
# Accept a string as input
input_string = input("Enter a string: ")

# Initialize counters for letters and digits
letters_count = 0 
digits_count = 0 

# Loop through each character in the input string
for char in input_string:
    if char.isalpha():  # Check if the character is a letter
        letters_count += 1
    elif char.isdigit():  # Check if the character is a digit
        digits_count += 1

# Print the results
print(f"LETTERS: - {letters_count}")
print(f"DIGITS: - {digits_count}")

Enter a string:  muku56

LETTERS: - 4
DIGITS: - 2

In [17]:
# Define a function to count letters and digits, this is the second veriont of the above program
def count_letters_and_digits(input_string):
    # Initialize counters for letters and digits
    letters_count = 0
    digits_count = 0

    # Loop through each character in the input string
    for char in input_string:
        if char.isalpha():  # Check if the character is a letter
            letters_count += 1
        elif char.isdigit():  # Check if the character is a digit
            digits_count += 1

    # Return the results
    return letters_count, digits_count

# Accept a string as input
input_string = input("Enter a string: ")

# Call the function and get the counts
letters_count, digits_count = count_letters_and_digits(input_string)

# Print the results
print(f"LETTERS: - {letters_count}")
print(f"DIGITS: - {digits_count}")

Enter a string:  mukut 876

LETTERS: - 5
DIGITS: - 3

In [23]:
# Function to check if a number is a palindrome
def is_palindrome(number):
    # Convert the number to a string to easily reverse it
    num_str = str(number)
    
    # Check if the number is equal to its reverse
    if num_str == num_str[::-1]: #[::-1] this is to reverse the string or numbers
        return True
    else:
        return False

# Accept a number as input
num = int(input("Enter a number: "))

# Call the function and check if the number is a palindrome
if is_palindrome(num):
    print(f"{num} is a palindrome number.")
else:
    print(f"{num} is not a palindrome number.")

Enter a number:  111111

111111 is a palindrome number.

In [21]:
# Function to validate the password based on the given rules
def validate_password(password):
    # Rule iv: Check for minimum and maximum length
    if len(password) < 5 or len(password) > 10:
        return "Password must be between 5 and 10 characters."

    # Rule i: Check for at least 1 alphabet
    has_alphabet = False
    for char in password:
        if char.isalpha():
            has_alphabet = True
            break
    if not has_alphabet:
        return "Password must contain at least one alphabet."

    # Rule ii: Check for at least 1 digit
    has_digit = False
    for char in password:
        if char.isdigit():
            has_digit = True
            break
    if not has_digit:
        return "Password must contain at least one digit."

    # Rule iii: Check for at least 1 special character (@ or &)
    has_special_char = False
    for char in password:
        if char in '@&':
            has_special_char = True
            break
    if not has_special_char:
        return "Password must contain at least one special character from [@&]."

    # If all conditions are met
    return "Password is valid."

# Function to get user input and validate it
def register_user():
    user_id = input("Enter your user-id: ")
    password = input("Enter your password: ")

    # Validate the password
    validation_message = validate_password(password)
    print(validation_message)

# lets take input from the user
register_user()

Enter your user-id:  mukut
Enter your password:  muk76@

Password is valid.

In [35]:
password = "Smi@123"
for char in password:
    print (char)

S
m
i
@
1
2
3

In [49]:
password = "Smi@123"

for char in password:
    if char.isdigit():  # Check if the character is a digit
        char = int(char)  # Convert the character to an integer
        print(char)

1
2
3

In [53]:
password = "Smi@123"

for char in password:
    if char.isalpha():  # Check if the character is a digit
  # Convert the character to an integer
        print(char)

S
m
i

In [47]:
password = "Smi@123"

# Iterate through each character in the password
for char in password:
    if char.isdigit():  # Check if the character is a digit
        print(char)  # Print the digit

1
2
3

In [65]:
# Taking input from the user and converting it into a list
user_input = input("Enter a list of elements separated by spaces: ")

# Converting the input string into a list by splitting the input
user_list = user_input.split()

# Printing elements and their indexes
for index, element in enumerate(user_list):
    print(f"Index: {index}, Element: {element}")

Enter a list of elements separated by spaces:  m m m

Index: 0, Element: m
Index: 1, Element: m
Index: 2, Element: m

In [1]:
# Accepting input string from the user
user_input = input("Enter a string: ")

# Initializing an empty string to store the result
result = ""

# Iterate through the string and check for even indexes
for i in range(len(user_input)):
    if i % 2 == 0 and user_input[i].isalpha():  # Check if index is even and character is alphabet
        result += user_input[i]  # Add the character to the result string

# Print the concatenated result
print("Resulting string:", result)

Enter a string:  Ed12ur3ka1Python12

Resulting string: EuaPto

In [3]:
# Code for a complex task
result = 0
for i in range(1, 11):
    result += i
print("Sum of numbers:", result)

Sum of numbers: 55

In [9]:
def calculate_sum_of_numbers(start, end):
    result = 0
    for i in range(start, end + 1):
        result += i
    return result

# Now you can call the function whenever needed
sum_result = calculate_sum_of_numbers(1, 10)
print("Sum of numbers:", sum_result)

Sum of numbers: 55

In [15]:
def print_full_name(first_name, last_name):
    print("First name:", first_name)
    print("Last name:", last_name)

print_full_name("John", "Doe")
print_full_name("Alice", "Smith")

First name: John
Last name: Doe
First name: Alice
Last name: Smith

In [17]:
print_full_name("mukut", "may")
print_full_name("sumit", "kumar")

First name: mukut
Last name: may
First name: sumit
Last name: kumar

In [25]:
print ("First name - Mukut")
print ("Last name - Dutta")

First name - Mukut
Last name - Dutta

In [27]:
username = input("Enter username: ")
password = input("Enter password: ")
if username == "admin" and password == "secret":
    print("Login successful")
else:
    print("Login failed")

Enter username:  admin
Enter password:  secret

Login successful

In [3]:
def login(username, password):
    if username == "admin" and password == "secret":
        print("Login successful")
    else:
        print("Login failed")

# Now, you can call the function whenever needed
username = input("Enter username: ")
password = input("Enter password: ")
login(username, password)

Enter username:
Enter password:

Login failed

In [12]:
username = input("Enter username: ")
password = input("Enter password: ")
if username == "admin" and password == "secret":
        print("Login successful")
else:
        print("Login failed")

Enter username:  admin
Enter password:  secret

Login successful

In [14]:
username = input("Enter username: ")
password = input("Enter password: ")
login(username, password)

Enter username:  admin
Enter password:  secret

Login successful

In [20]:
def check_age(age):
    if age < 18:
        return "You are a minor."
    else:
        return "You are an adult."

# Using the function
age = int(input("Enter your age: "))
print (check_age(age))

Enter your age:  24

You are an adult.

In [2]:
# Accept input from the user
input_string = input("Enter a string: ")

# Reverse the string and print it
reversed_string = input_string[::-1]
print("Reversed string:", reversed_string)

Enter a string:  mukut may dutta is a handsome boy

Reversed string: yob emosdnah a si attud yam tukum

In [4]:
# Accept input from the user
input_string = input("Enter a string: ")

# Initialize an empty dictionary to store the frequency of characters
char_count = {}

# Loop through each character in the string
for char in input_string:
    # If the character is already in the dictionary, increment its count
    if char in char_count:
        char_count[char] += 1
    # Otherwise, add the character to the dictionary with count 1
    else:
        char_count[char] = 1

# Print the frequency of each character in the order they first appear
for char in char_count:
    print(f"{char},{char_count[char]}")

Enter a string:  mukutmaydutta

m,2
u,3
k,1
t,3
a,2
y,1
d,1

In [8]:
result = (2 + 3) * 5
print (result)

25

In [10]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [30]:
first_element = my_list[1]  # Access the first element
first_element

2

In [50]:
squares = [x**2 for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [52]:
my_dict = {"apple": 1, "banana": 2}
my_dict

{'apple': 1, 'banana': 2}

In [64]:
my_set = {1, 2, 3}
my_set

{1, 2, 3}

In [68]:
name = "Alice"
greeting = f"Hello, {name}!"  # The variable 'name' is embedded in the string
greeting

'Hello, Alice!'

In [72]:
even_numbers = {x for x in range(10) if x % 2 == 0} # it will print only even numbers
even_numbers

{0, 2, 4, 6, 8}

In [80]:
# Given lists
list1 = [1, 5, 10, 12, 34, 13]
list2 = [4, 7, 8, 10, 5, 13, 24]

# Using set intersection to find common elements
intersection = list(set(list1) & set(list2))

# Print the result
print("Intersection of the lists:", intersection)

Intersection of the lists: [10, 13, 5]

In [84]:
list1 = {1, 5, 10, 12, 34, 13, 4, 7, 8, 10, 5, 13, 24}
list1

{1, 4, 5, 7, 8, 10, 12, 13, 24, 34}

In [86]:
# Original list
numbers = [12, 24, 35, 24, 88, 120, 155]

# Using list comprehension to filter out numbers divisible by 6
filtered_numbers = [num for num in numbers if num % 6 != 0]

# Printing the filtered list
print(filtered_numbers)

[35, 88, 155]

In [96]:
numbers = [12, 24, 35, 24, 88, 120, 155]

filtered_numbers = [num for num in numbers if num % 6 != 0]

print (filtered_numbers)

[35, 88, 155]

In [110]:
# Original list
numbers = [12, 24, 35, 70, 88, 120, 155]

# Using list comprehension to remove the 1st, 3rd, and 5th numbers
filtered_numbers = [num for index, num in enumerate(numbers) if index in [0, 2, 4]]

# Print the filtered list
print(filtered_numbers)

[12, 35, 88]

In [5]:
numbers = [12, 24, 35, 70, 88, 120, 155]
filtered_number = [num for index, num in enumerate(numbers) if index not in [0, 2, 4]]

print(filtered_number)

[24, 70, 120, 155]

In [11]:
# Original list
numbers = [12, 24, 35, 70, 88, 120, 155]

# Using list comprehension to keep only the 1st, 3rd, and 5th numbers
filtered_numbers = [num for index, num in enumerate(numbers) if index in [0, 2, 4]]

# Print the filtered list
print(filtered_numbers)

[12, 35, 88]

In [17]:
import random

# Find all numbers between 1 and 1500 that are divisible by both 5 and 7
numbers_divisible_by_5_and_7 = [num for num in range(1, 1501) if num % 35 == 0]

# Randomly select 6 numbers from the list
random_numbers = random.sample(numbers_divisible_by_5_and_7, 6)

# Print the randomly selected numbers
print(random_numbers)

[1330, 1050, 840, 945, 1155, 280]

In [ ]:
# Input: n (n > 0)

n = int(input("Enter a value for n (n > 0): "))

# Check if the input is valid

if n <= 0:
    print("Please enter a value greater than 0.")
else:
    Total_sum = 0
    for i in range(1, n + 1):
        Total_sum += i / (i + 1)
        print(f"The result of the series is: {Total_sum:.2f}") # ":.f stands for the count of two digit after the decimal"

In [21]:
import hashlib # method hashes the Unique ID string into a secure hash
import re # this is the (regular exprassion) which look for the defined match like (any patren or something)

# Step 1: Read the Unique ID from the user
unique_id = input("Enter the Unique ID: ")

# Step 2: Validate the Unique ID
def is_valid_unique_id(uid):
    # Check if the ID is exactly 10 digits and only contains numbers
    if len(uid) == 10 and uid.isdigit():
        return True
    else:
        return False

# Check if the Unique ID is valid
if is_valid_unique_id(unique_id):
    # Step 3: Encrypt the Unique ID (hashing it using SHA-256)
    encrypted_id = hashlib.sha256(unique_id.encode()).hexdigest() #The hashlib.sha256() method hashes the Unique ID string into a secure hash, and hexdigest() converts it to a hexadecimal string.
    print(f"Encrypted Unique ID: {encrypted_id}")
else:
    print("Invalid Unique ID. It should be exactly 10 digits and contain only numbers.")

Enter the Unique ID:  8976

Invalid Unique ID. It should be exactly 10 digits and contain only numbers.

In [29]:
import re # Define a pattern (regular expression)

pat = r'\d{3}'  # Example pattern to match 3 digits

# Define the string to search in
string = "abcxy344z"

# Use re.search() to search for the pattern in the string
match = re.search(pat, string)

if match:
    print(f"Pattern found: {match.group()}") #".group" - function always group by all the "numbers" togther
else:
    print("Pattern not found.")

Pattern found: 344

### Using class methord in pyhton

In [33]:
# Parent class Animal
class Animal:
    def __init__(self, name, age):
        self.name = name  # Animal's name
        self.age = age    # Animal's age

    def speak(self):
        return "The animal makes a sound."

    def info(self):
        return f"My name is {self.name} and I am {self.age} years old."


# Child class Dog that inherits from Animal
class Dog(Animal):
    def __init__(self, name, age, breed):
        # Call the parent class constructor
        super().__init__(name, age)
        self.breed = breed  # Additional attribute specific to Dog

    def speak(self):
        return "Woof!"  # Overriding the speak method for Dog

    def dog_info(self):
        return f"{self.info()} I am a {self.breed} dog."


# Create a Dog object
dog = Dog("Buddy", 3, "Golden Retriever")

# Display the Dog's information and its behavior
print(dog.dog_info())  # Display information from Dog class
print(dog.speak())     # Display the overridden speak method

# Create a new Dog object
dog = Dog("Bunny", 6, "Pomoranian")

print(dog.dog_info())  # Display information from Dog class
print(dog.speak())     # Display the overridden speak method

My name is Buddy and I am 3 years old. I am a Golden Retriever dog.
Woof!
My name is Bunny and I am 6 years old. I am a Pomoranian dog.
Woof!

 # Functions and Object Oriented Programming Concepts

In [47]:
class Dog:
    def __init__(self, name, age, breed):
        # Initialize the attributes for the Dog object
        self.name = name  # Assign the name to the object's 'name' attribute
        self.age = age    # Assign the age to the object's 'age' attribute
        self.breed = breed  # Assign the breed to the object's 'breed' attribute

# The "__init__" method in Python is a special method, known as a constructor. It is automatically called when an object is created from a class. 
#The primary purpose of __init__ is to initialize the newly created object by setting its initial state—i.e., initializing the object's attributes with values.

#Key Points about __init__:-
#Initialization Method: The __init__ method is used to initialize the object's state after it is created. It is like a setup function for the object.
#Automatic Call: It is automatically called when you create an instance of a class.
#"Self" Parameter: The first parameter of the __init__ method is always "self", which refers to the current instance of the object. You use self to access and set the object's attributes.
# Custom Parameters: Besides self, you can define other parameters in __init__ to pass values when creating the object. These parameters are used to initialize the object with specific values.
    def speak(self):
        return "Woof!"
# Create a Dog object
dog1 = Dog("Buddy", 3, "Golden Retriever")

# Accessing the object's attributes
print(f"{dog1.name} is {dog1.age} years old and is a {dog1.breed}.")
print(f"Dog makes the sound that is {dog1.speak()}.")

Buddy is 3 years old and is a Golden Retriever.
Dog makes the sound that is Woof!.

In [89]:
# Polymorphism:

#Both Car and Bike have a method named display_info(). 
#Even though they share the same method name, the behavior of display_info() differs based on the type of object (Car or Bike) calling it. 
#This is an example of polymorphism—using the same method name for different classes, but each method provides a class-specific implementation.


# Class for Car

class Car:
    def __init__(self, name, color):
        self.name = name  # Car name
        self.color = color  # Car color
        self.wheels = 4  # Cars have 4 wheels

    def display_info(self):
        # Display information about the car
        print(f"Car Name: {self.name}")
        print(f"Car Color: {self.color}")
        print(f"Number of Wheels: {self.wheels}\n")


# Class for Bike
class Bike:
    def __init__(self, name, color):
        self.name = name  # Bike name
        self.color = color  # Bike color
        self.wheels = 2  # Bikes have 2 wheels

    def display_info(self):
        # Display information about the bike
        print(f"Bike Name: {self.name}")
        print(f"Bike Color: {self.color}")
        print(f"Number of Wheels: {self.wheels}\n")


# Create instances of Car and Bike
car = Car("Toyota", "Red")
bike = Bike("Harley", "Black")

# Display information using the display_info method of each class
car.display_info()  # Polymorphism in action: calling display_info of Car
bike.display_info()  # Polymorphism in action: calling display_info of Bike

Car Name: Toyota
Car Color: Red
Number of Wheels: 4

Bike Name: Harley
Bike Color: Black
Number of Wheels: 2

In [83]:
# List of tuples containing planet names and their respective number of moons
planets_moons = [
    ("Earth", 1),
    ("Jupiter", 79),
    ("Saturn", 82),
    ("Uranus", 27),
    ("Neptune", 14)
]

# Display the original list
print("Original List:")
print(planets_moons)

# Sort the list based on the number of moons (ascending order)

sorted_planets_moons = sorted(planets_moons, key=lambda x: x[1]) # We use Python’s built-in sorted() function with a lambda function as the key argument.
                                                                # The lambda function lambda x: x[1] tells sorted() to sort by the second element of each tuple (the number of moons, which is the second element).

# Display the sorted list
print("\nSorted List by Number of Moons (Ascending Order):") #The \n character represents a line break or the new line in a string. 
                                                            # When it is used inside a string, it moves the cursor to the beginning of the next line.

print(sorted_planets_moons)

Original List:
[('Earth', 1), ('Jupiter', 79), ('Saturn', 82), ('Uranus', 27), ('Neptune', 14)]

Sorted List by Number of Moons (Ascending Order):
[('Earth', 1), ('Neptune', 14), ('Uranus', 27), ('Jupiter', 79), ('Saturn', 82)]

In [99]:
# Global variable to store the quantity of fuel in the tank
tank = 0

# Function to fill up the tank with a given quantity of fuel
def fillup(quantity):
    global tank  # Use the global variable 'tank'
    tank += quantity  # Add the fuel to the tank
    return tank  # Return the updated quantity of fuel in the tank

# Function to use a given quantity of fuel from the tank
def use(quantity):
    global tank  # Use the global variable 'tank'
    if quantity <= tank:
        tank -= quantity  # Subtract the fuel from the tank
    else:
        tank = 0  # If there isn't enough fuel, set tank to 0
    return tank  # Return the updated quantity of fuel in the tank

# Example of how these functions could be used:
fillup(50)    # Fill the tank with 50 units of fuel
use(49)       # Use 20 units of fuel from the tank

1

In [19]:
# Class 1
class Class1:
    def print_class1(self):
        print("This is Class 1.")

# Class 2 inherits from Class 1
class Class2(Class1):
    def print_class2(self):
        print("This is Class 2, which inherits from Class 1.")

# Class 3 inherits from Class 1
class Class3(Class1):
    def print_class3(self):
        print("This is Class 3, which also inherits from Class 1.")

# Class 4 inherits from both Class 2 and Class 3
class Class4(Class2, Class3):
    def print_class4(self):
        print("This is Class 4, which inherits from Class 2 and Class 3.")
obj = Class4() # The methods inside a class are called on an object, not the class itself. 
               #So, by creating an instance of the class (obj = Class4()), you're able to invoke methods like obj.print_class4(), obj.print_class2(), etc.

obj.print_class4()
obj.print_class2()  # Class 2's method
obj.print_class3()  # Class 3's method
obj.print_class1()  # Class 1's method (Class 2 and Class 3 inherit it)

This is Class 4, which inherits from Class 2 and Class 3.
This is Class 2, which inherits from Class 1.
This is Class 3, which also inherits from Class 1.
This is Class 1.

In [21]:
class Person:
    def __init__(self, name="", age=0):
        self._name = name  # _name is a protected variable (conventionally)
        self._age = age    # _age is a protected variable (conventionally)

    # Getter method for name
    def get_name(self):
        return self._name

    # Setter method for name
    def set_name(self, name):
        self._name = name

    # Getter method for age
    def get_age(self):
        return self._age

    # Setter method for age
    def set_age(self, age):
        self._age = age

# Create an object of Person class
person = Person()

# Setting name and age using setter methods
person.set_name("Alice")
person.set_age(30)

# Getting name and age using getter methods
print("Name:", person.get_name())  # Output: Name: Alice
print("Age:", person.get_age())    # Output: Age: 30

Name: Alice
Age: 30

In [ ]:
class Person:
    def __init__(self, name="", age=0):
        self._name = name  # _name is a protected variable (conventionally)
        self._age = age    # _age is a protected variable (conventionally)

    # Getter method for name
    def get_name(self):
        return self._name

    # Setter method for name
    def set_name(self, name):
        self._name = name

    # Getter method for age
    def get_age(self):
        return self._age

    # Setter method for age
    def set_age(self, age):
        self._age = age

# Create an object of Person class
person = Person()

# Setting name and age using setter methods
person.set_name("Alice")
person.set_age(30)

# Getting name and age using getter methods
print("Name:", person.get_name())  # Output: Name: Alice
print("Age:", person.get_age())    # Output: Age: 30


# Usage:

# First, we create an object person of the Person class.
# Then, we use the setter methods (set_name() and set_age()) to set the values for name and age.
# Finally, we use the getter methods (get_name() and get_age()) to retrieve and print the values of name and age.

In [26]:
import math # math module use to opereat some mathmetical operations

# Starting position (origin)
x, y = 0, 0

# Movements sequence # importent, whenever we declear a variable, we have to define the variable as well.
movements = [
    ("UP", 5),
    ("DOWN", 3),
    ("LEFT", 3),
    ("RIGHT", 2)
]

# Processing each movement
for direction, steps in movements:
    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

# Calculating the distance from the origin (0, 0)
distance = math.sqrt(x**2 + y**2) # sqrt =  squre-root function, ** meaning is whole squre

# Output the current distance
print(f"The current distance from the origin is: {distance:.2f}") #.2f meaning, . = saparation from the number, 2 = two digits after decimal and, f = that is floation value and this number is a "floating-point number"

The current distance from the origin is: 2.24

In [38]:
ghose = [(2, 5)]  # this is a test program for the practice
for x,y in ghose:
    dis = (x**2 + y**2)
    print (dis)

29

#### If you want to search for specific data from a sorted list, one efficient way is to use a binary search algorithm

In [ ]:
# Sorted list of data (example)
data = [101, 202, 303, 404, 505, 606, 707, 808, 909, 1000]

# Function to search for specific data
def search_data(target): # we have decleared a veriable here, so we have to define the veriable here as well
    if target in data:
        # If target is found
        index = data.index(target)
        print(f"Data {target} found at index {index}.")
    elif target < data[0]: # smallest index number in the given data set
        # If target is smaller than the smallest element in the list
        print(f"Data {target} is smaller than the smallest data in the list.")
    elif target > data[-1]:  # In Python, the index -1 refers to the last element of a list (or any sequence). This is a convenient feature that allows you to access elements from the end of a list without needing to know its exact length.
        # If target is larger than the largest element in the list
        print(f"Data {target} is larger than the largest data in the list.")
    else:
        # If target is not found and within the range of the list
        print(f"Data {target} is not present in the list.")

# Example usage
target = int(input("Enter the data to search: ")) # "int" stands for "integer input"
search_data(target)

### Write a program to find whether is it dark outside or not based on the local system time.

In [4]:
import time # it is importing the time for the local system

# Get the current local time
current_time = time.localtime() # this function is used to make the function as a local time function

# Extract the current hour
current_hour = current_time.tm_hour # this extrect the current time system into hours

# Determine if it's day or night
if 6 <= current_hour < 18: # (6AM to 6PM), 6AM is equle to "6:00" and 6PM is equle to "18:00"
    print("It is daytime!")
else:
    print("It is nighttime!")

It is daytime!

In [8]:
import math

# Function to convert degrees to radians
def degrees_to_radians(degrees):
    return degrees * (math.pi / 180) # converting degrees to radians

# Function to calculate the Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Radius of Earth in kilometers
    R = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1_rad = degrees_to_radians(lat1)
    lon1_rad = degrees_to_radians(lon1)
    lat2_rad = degrees_to_radians(lat2)
    lon2_rad = degrees_to_radians(lon2)

    # Differences in coordinates
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    # Haversine formula
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Distance in kilometers
    distance = R * c
    return distance

# Example usage: Latitude and Longitude of two locations
lat1 = float(input("Enter latitude of first location: "))
lon1 = float(input("Enter longitude of first location: "))
lat2 = float(input("Enter latitude of second location: "))
lon2 = float(input("Enter longitude of second location: "))

# Calculate distance
distance = haversine(lat1, lon1, lat2, lon2)

# Output the distance
print(f"The distance between the two locations is: {distance:.2f} kilometers.")

Enter latitude of first location:  5
Enter longitude of first location:  7
Enter latitude of second location:  6
Enter longitude of second location:  2

The distance between the two locations is: 564.47 kilometers.

###  Design a banking system software with options like cash withdrawal, cash 
credit, and change password. The software must display appropriate result 
based on user input .
Hint: Use if else statements and functions.

In [5]:
# Sample Bank Account with Initial Balance and Password
class BankAccount: # declearing a class here
    def __init__(self, balance, password): # balance and password
        self.balance = balance
        self.password = password

    # Function to withdraw cash
    def withdraw_cash(self, amount): #using if else statement for withdrawling cash
        if amount > self.balance:
            print("Insufficient funds.")
        else:
            self.balance -= amount
            print(f"Withdrawal successful. New balance: ${self.balance:.2f}")
    
    # Function to deposit (credit) cash
    def deposit_cash(self, amount): # cash deposit using "if/else function"
        self.balance += amount
        print(f"Deposit successful. New balance: ${self.balance:.2f}")
    
    # Function to change password
    def change_password(self, old_password, new_password): #changeing pasword, using if else statement
        if old_password == self.password:
            self.password = new_password
            print("Password changed successfully.")
        else:
            print("Incorrect password. Password change failed.")

# Function to display the menu options
def display_menu(): # creating a function for displaing the menu options
    print("\n---- Welcome to Your Bank ----")
    print("1. Cash Withdrawal")
    print("2. Cash Deposit")
    print("3. Change Password")
    print("4. Exit")

# Main function to drive the banking system
def main(): #Main Logic: The main function initializes the account with a balance of $1000 and a password "1234". 
                            #It then enters a loop where the user can perform actions or exit.
    
    # Create an account with an initial balance and a password
    account = BankAccount(balance=1000.0, password="1234")

    while True:
        display_menu()
        
        # Prompt user to select an option
        choice = input("Select an option (1-4): ")
        
        if choice == '1':
            # Cash Withdrawal
            amount = float(input("Enter the amount to withdraw: $"))
            account.withdraw_cash(amount)
        
        elif choice == '2':
            # Cash Deposit
            amount = float(input("Enter the amount to deposit: $"))
            account.deposit_cash(amount)
        
        elif choice == '3':
            # Change Password
            old_password = input("Enter your current password: ")
            new_password = input("Enter a new password: ")
            account.change_password(old_password, new_password)
        
        elif choice == '4':
            # Exit
            print("Thank you for using our banking system. Goodbye!")
            break # using the break function to break the loop
        
        else:
            print("Invalid choice. Please select a valid option.")
        
if __name__ == "__main__": # The program will check if the script is being executed directly.# If it is, it will call the main() function, which starts the banking system.
     main()

---- Welcome to Your Bank ----
1. Cash Withdrawal
2. Cash Deposit
3. Change Password
4. Exit

Select an option (1-4):  1
Enter the amount to withdraw: $ 1

Withdrawal successful. New balance: $999.00

---- Welcome to Your Bank ----
1. Cash Withdrawal
2. Cash Deposit
3. Change Password
4. Exit

Select an option (1-4):  4

Thank you for using our banking system. Goodbye!

In [9]:
# List to store the numbers that are divisible by 7 but not multiples of 5

result = [] # Creating the empty list to stored the processed output from "result.append(str(num))"

# Loop through the numbers between 2000 and 3200 (both inclusive)
for num in range(2000, 3201):
    if num % 7 == 0 and num % 5 != 0:
        result.append(str(num))  # Convert to string for comma-separated output,result. append(str(num)) adds the string version of num to the result list.

# Print the result as a comma-separated string
print(", ".join(result)) # join fuction is joining the string and creatinng a single line

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [13]:
# Function to compute factorial using recursion
def factorial(n):
    # Base case: factorial of 0 is 1
    if n == 0:
        return 1
    # Recursive case: n * factorial(n-1)
    else:
        return n * factorial(n - 1)

# Input from the user
num = int(input("Enter a number to compute its factorial: "))

# Check if the number is non-negative
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    # Call the recursive function and print the result
    result = factorial(num)
    print(f"The factorial of {num} is {result}")

Enter a number to compute its factorial:  2

The factorial of 2 is 2

In [19]:
import math

# Fixed values
C = 50
H = 30

# Function to calculate Q for a given D
def calculate_Q(D):
    return int(math.sqrt((2 * C * D) / H))

# Input: comma-separated values for D
input_values = input("Enter comma-separated values for D: ")

# Split the input into a list of numbers (converted to integers)
D_values = [int(value) for value in input_values.split(',')]

# Calculate Q for each D and store results
results = [calculate_Q(D) for D in D_values]

# Print the results as a comma-separated sequence
print(", ".join(map(str, results)))

Enter comma-separated values for D:  25,45,65,25

9, 12, 14, 9

In [7]:
def generate_2d_array(X, Y):
    # Create a 2D array with X rows and Y columns
    result = [[i * j for j in range(Y)] for i in range(X)] # this is how we create a array in core pyhton, 
                                                #like one list and inside that another list where we define the number of rows and columns.
    return result

# Input X and Y
X, Y = map(int, input("Enter two digits X and Y (separated by a space): ").split()) # "map" function is used because it will covert the x and y bost value to the intiger just in one line, 
#otherwise we have to define it one by one like this :-  

# Without map

#input_str = input("Enter two digits X and Y (separated by a space): ")
#split_input = input_str.split()
#X = int(split_input[0])
#Y = int(split_input[1])
# Generate and print the 2D array

array = generate_2d_array(X, Y)
print(array)

Enter two digits X and Y (separated by a space):  3 5

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [27]:
# Accepting the input
input_string = input("Enter a comma-separated sequence of words: ")

# Splitting the input string into a list of words
words = input_string.split(",")

# Sorting the list of words
words.sort()

# Joining the sorted words back into a comma-separated string
sorted_string = ", ".join(words)

# Printing the result
print("Sorted words:", sorted_string)

Enter a comma-separated sequence of words:  mukut,milk,esting,girls,pop,apple

Sorted words: apple, esting, girls, milk, mukut, pop

In [35]:
# Accepting multiple lines of input until the user enters an empty line
print("Enter lines of text (press Enter to finish):")
lines = [] # this is creating the empty list to stored the input lines after running to for loop into it
while True: # it will start a infinity loop untill we break it down with any condition
    line = input() # takes an input
    if line == "": # if the line left empty by the user and hit the "enter-botton" then the loop gets break and append to "lines" list at the top
        break
    lines.append(line) # storing to "lines" list at the top using append function

# Using map to convert all lines to uppercase and print each
for line in map(str.upper, lines): # it converts all the strings to the upper case using "map"
    print(line) # printing line

Enter lines of text (press Enter to finish):

 mukut may dutta

MUKUT MAY DUTTA

In [53]:
# Accepting a sequence of whitespace-separated words as input
input_string = input("Enter a sequence of words: ")

# Splitting the input string into a list of words
words = input_string.split()

# Removing duplicates by converting the list to a set
unique_words = set(words) #Converting the list words to a set automatically removes duplicates because sets do not allow duplicate elements. 
                            # So, the resulting set would be:

# Sorting the words alphanumerically
sorted_words = sorted(unique_words)

# Joining the sorted words into a single string and printing them
print(" ".join(sorted_words)) # (" ")- means the all the words in a string will be sapereted by the space

Enter a sequence of words:  mukut may dutta is a cool boy

a boy cool dutta is may mukut

In [55]:
# Accepting a sequence of comma-separated binary numbers
input_string = input("Enter a sequence of 4-digit binary numbers (comma-separated): ")

# Splitting the input string into a list of binary numbers
binary_numbers = input_string.split(",")

# List to store binary numbers divisible by 5
divisible_by_5 = []

# Check each binary number
for binary in binary_numbers:
    # Convert the binary number to decimal using int() with base 2
    decimal = int(binary, 2)
    
    # Check if the decimal number is divisible by 5
    if decimal % 5 == 0:
        divisible_by_5.append(binary) # we need the results in binary, so we append the binary to the [list]

# Printing the binary numbers that are divisible by 5, joined by commas
print(",".join(divisible_by_5))

Enter a sequence of 4-digit binary numbers (comma-separated):  0100,0011,1010,1001

1010

In [57]:
# Accepting a sentence as input
sentence = input("Enter a sentence: ") # here, the user will put the input

# Initialize counters for uppercase and lowercase letters
upper_case_count = 0
lower_case_count = 0

# Loop through each character in the sentence
for char in sentence:
    # Check if the character is uppercase
    if char.isupper(): # "isupper" is the in-built function to chech the uppercase"
        upper_case_count += 1
    # Check if the character is lowercase
    elif char.islower(): # "isupper" is the in-built function to chech the uppercase"
        lower_case_count += 1

# Output the counts
print("UPPER CASE", upper_case_count)
print("LOWER CASE", lower_case_count)

Enter a sentence:  Mukut May Dutta

UPPER CASE 3
LOWER CASE 10

In [1]:
import math

# Example using fsum
numbers = [0.1, 0.2, 0.3, 0.4, 0.5]
result_fsum = math.fsum(numbers)

print("Result using math.fsum:", result_fsum)

Result using math.fsum: 1.5

In [3]:
# Example using sum
numbers = [0.1, 0.2, 0.3, 0.4, 0.5]
result_sum = sum(numbers)

print("Result using sum:", result_sum)

Result using sum: 1.5

In [23]:
import math

# Example using fsum
user_input = input("Enter the floating numbers here, separated by commas: ")

# Split the input string by commas and convert each item to a float

numbers = [float(x) for x in user_input.split(",")]

# Use math.fsum to get the sum of the numbers

floating_number = math.fsum(numbers) # "fsum" this function will give the very accureat value after calculation

# Print the result
print("Result using math.fsum:", floating_number)

Enter the floating numbers here, separated by commas:  5.123456789,5,5,5,5,5

Result using math.fsum: 30.123456789

In [7]:
def get_unique_professions(data):
    # Build a set of unique professions from the data
    professions = set(row['profession'].lower() for row in data if 'profession' in row)
    return professions

def get_age_range(data):
    # Get the minimum and maximum age from the data
    ages = [int(row['age']) for row in data if 'age' in row]
    return min(ages), max(ages)

def main():
    # Read data from the CSV file
    file_path = 'bank-data.csv'  # Path to your CSV file
    data = read_data(file_path)

    # Build a set of unique professions
    professions = get_unique_professions(data)

    # Get age range for eligibility
    min_age, max_age = get_age_range(data)
    
    # Print the minimum and maximum age for loan eligibility
    print(f"Loan eligibility age range: {min_age} - {max_age}")

    # User input loop
    while True:
        # Get the user input for profession
        user_input = input("Enter profession to check eligibility (or type 'END' to exit): ").strip()

        # Check if the user wants to exit
        if user_input.lower() == "end":
            print("Exiting the program.")
            break

        # Check if the input profession is in the set of eligible professions
        if user_input.lower() in professions:
            print(f"The profession '{user_input}' is eligible for the loan offer.")
        else:
            print(f"The profession '{user_input}' is NOT eligible for the loan offer.")

if __name__ == "__main__":
    main()

Loan eligibility age range: 19 - 80

Enter profession to check eligibility (or type 'END' to exit):  20

The profession '20' is NOT eligible for the loan offer.

Enter profession to check eligibility (or type 'END' to exit):  -

The profession '-' is NOT eligible for the loan offer.

Enter profession to check eligibility (or type 'END' to exit):  end

Exiting the program.

In [15]:
import csv

# Function to read the CSV file and return the data as a list of dictionaries
def read_data(file_path):
    with open(file_path, mode='r') as file:
        csv_reader = csv.DictReader(file)
        data = [row for row in csv_reader]
    return data

# Function to get unique professions from the data
def get_unique_professions(data):
    # Build a set of unique professions from the data
    professions = set(row['job'].lower() for row in data if 'job' in row)
    return professions

# Function to get the minimum and maximum age from the data
def get_age_range(data):
    ages = [int(row['age']) for row in data if 'age' in row]
    return min(ages), max(ages)

def main():
    # Define the path to your CSV file
    file_path = 'bank-data.csv'  # Update with your actual file path
    
    # Read data from the CSV file
    data = read_data(file_path)
    
    # Build a set of unique professions
    professions = get_unique_professions(data)

    # Get the age range for loan eligibility
    min_age, max_age = get_age_range(data)
    
    # Print the minimum and maximum age for loan eligibility
    print(f"Loan eligibility age range: {min_age} - {max_age}")
    
    # User input loop
    while True:
        # Get the user input for profession
        user_input = input("Enter profession to check eligibility (or type 'END' to exit): ").strip()

        # Check if the user wants to exit
        if user_input.lower() == "end":
            print("Exiting the program.")
            break
        
        # Check if the input profession is in the set of eligible professions
        if user_input.lower() in professions:
            print(f"The profession '{user_input}' is eligible for the loan offer.")
        else:
            print(f"The profession '{user_input}' is NOT eligible for the loan offer.")

if __name__ == "__main__":
    main()

Loan eligibility age range: 19 - 80

Enter profession to check eligibility (or type 'END' to exit):  blue-collar

The profession 'blue-collar' is eligible for the loan offer.

Enter profession to check eligibility (or type 'END' to exit):  end

Exiting the program.

In [7]:
import csv

# Define the path to your CSV file
file_path = r"bank-data.csv"  # Update with your actual file path

# Read the CSV file
with open(file_path, mode='r') as file:
    csv_reader = csv.DictReader(file)

    # Print the headers (column names)
    print("Headers:", csv_reader.fieldnames)

    # Loop through each row in the CSV and print the dictionary
    for row in csv_reader:
        print(row)

Headers: ['age', 'job', 'marital', 'y']
{'age': '20', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '49', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '61', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '45', 'job': 'blue-collar', 'marital': 'divorced', 'y': 'yes'}
{'age': '34', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '27', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '52', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '27', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '21', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '25', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '25', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '34', 'job': 'self-employed', 'marital': 'single', 'y': 'yes'}
{'age': '52', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '55', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '35', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '29', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '42', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '29', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '24', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '34', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '50', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'entrepreneur', 'marital': 'divorced', 'y': 'yes'}
{'age': '45', 'job': 'blue-collar', 'marital': 'divorced', 'y': 'yes'}
{'age': '38', 'job': 'entrepreneur', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'entrepreneur', 'marital': 'married', 'y': 'yes'}
{'age': '25', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '35', 'job': 'entrepreneur', 'marital': 'married', 'y': 'yes'}
{'age': '38', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'entrepreneur', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '30', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '55', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '48', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '60', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '54', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '30', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'self-employed', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '61', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '53', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '46', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '44', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '19', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '30', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '52', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '36', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '43', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '41', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '41', 'job': 'self-employed', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '30', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '58', 'job': 'self-employed', 'marital': 'divorced', 'y': 'yes'}
{'age': '27', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '39', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '46', 'job': 'self-employed', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '38', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '28', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '35', 'job': 'self-employed', 'marital': 'divorced', 'y': 'yes'}
{'age': '50', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '36', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '48', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '29', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '34', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '43', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '39', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '55', 'job': 'housemaid', 'marital': 'divorced', 'y': 'yes'}
{'age': '46', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '41', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '31', 'job': 'housemaid', 'marital': 'single', 'y': 'yes'}
{'age': '26', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '60', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '27', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '28', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '34', 'job': 'blue-collar', 'marital': 'divorced', 'y': 'yes'}
{'age': '34', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '40', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '41', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '58', 'job': 'self-employed', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '43', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '59', 'job': 'self-employed', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '45', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '49', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '42', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '45', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '55', 'job': 'blue-collar', 'marital': 'divorced', 'y': 'yes'}
{'age': '34', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '63', 'job': 'entrepreneur', 'marital': 'married', 'y': 'yes'}
{'age': '48', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '36', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '38', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '59', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '60', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '44', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '33', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'self-employed', 'marital': 'single', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '31', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '61', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '36', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '60', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '27', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '41', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '46', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '31', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '42', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '45', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '27', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '46', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '38', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '38', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '36', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '56', 'job': 'housemaid', 'marital': 'divorced', 'y': 'yes'}
{'age': '32', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '31', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '45', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '36', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '31', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '53', 'job': 'services', 'marital': 'divorced', 'y': 'yes'}
{'age': '59', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '29', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '46', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '42', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '33', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '54', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '28', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '42', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '49', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '46', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '39', 'job': 'self-employed', 'marital': 'single', 'y': 'yes'}
{'age': '53', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '52', 'job': 'blue-collar', 'marital': 'divorced', 'y': 'yes'}
{'age': '47', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '37', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '43', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '31', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '35', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '25', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '46', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '48', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '53', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '40', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '49', 'job': 'housemaid', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '29', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '38', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '57', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '51', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '31', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '39', 'job': 'technician', 'marital': 'divorced', 'y': 'yes'}
{'age': '54', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '51', 'job': 'self-employed', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '47', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '26', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '39', 'job': 'technician', 'marital': 'divorced', 'y': 'yes'}
{'age': '42', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '40', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '28', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '46', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '48', 'job': 'housemaid', 'marital': 'married', 'y': 'yes'}
{'age': '30', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '29', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '22', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '27', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '27', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '42', 'job': 'services', 'marital': 'divorced', 'y': 'yes'}
{'age': '41', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '44', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '37', 'job': 'entrepreneur', 'marital': 'divorced', 'y': 'yes'}
{'age': '44', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '40', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '34', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '59', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '41', 'job': 'blue-collar', 'marital': 'divorced', 'y': 'yes'}
{'age': '30', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '59', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '31', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '48', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '30', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '38', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '33', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '41', 'job': 'admin.', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'housemaid', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'housemaid', 'marital': 'single', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '62', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '40', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '28', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '43', 'job': 'entrepreneur', 'marital': 'married', 'y': 'yes'}
{'age': '23', 'job': 'entrepreneur', 'marital': 'single', 'y': 'yes'}
{'age': '29', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '24', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '44', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '24', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '41', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'admin.', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '27', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '30', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '43', 'job': 'services', 'marital': 'single', 'y': 'yes'}
{'age': '35', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '41', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '44', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '51', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '36', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '23', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '22', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '35', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '37', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '53', 'job': 'housemaid', 'marital': 'married', 'y': 'yes'}
{'age': '44', 'job': 'technician', 'marital': 'divorced', 'y': 'yes'}
{'age': '31', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '34', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '52', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '50', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '36', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '45', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '36', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '42', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '27', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '31', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '29', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '45', 'job': 'admin.', 'marital': 'divorced', 'y': 'yes'}
{'age': '55', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '25', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '41', 'job': 'blue-collar', 'marital': 'single', 'y': 'yes'}
{'age': '29', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '53', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '47', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '40', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '61', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '35', 'job': 'management', 'marital': 'divorced', 'y': 'yes'}
{'age': '19', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '46', 'job': 'technician', 'marital': 'divorced', 'y': 'yes'}
{'age': '38', 'job': 'entrepreneur', 'marital': 'married', 'y': 'yes'}
{'age': '37', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '39', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '49', 'job': 'services', 'marital': 'married', 'y': 'yes'}
{'age': '43', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '44', 'job': 'management', 'marital': 'married', 'y': 'yes'}
{'age': '38', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'technician', 'marital': 'single', 'y': 'yes'}
{'age': '51', 'job': 'housemaid', 'marital': 'divorced', 'y': 'yes'}

### this code is all about to know the Unique jobs in "job" column

In [9]:
# now, this code is to check the unique count of the "job type" in "job" column in the data-set
import csv

# Define the path to your CSV file
file_path = r"bank-data.csv"  # Update with your actual file path

# Read the CSV file
with open(file_path, mode='r') as file:
    csv_reader = csv.DictReader(file)

    # Initialize an empty set to store unique jobs
    unique_jobs = set() # "set" is use to have the only unique count of the jobs or any specific element

    # Loop through each row in the CSV and add the "job" field to the set
    for row in csv_reader:
        # Add the job to the set (make sure to handle case insensitivity by using lower())
        unique_jobs.add(row['job'].lower())  # Assuming "job" is the column name

    # Print the unique jobs
    print("Unique jobs:")
    for job in unique_jobs:
        print(job)

Unique jobs:
services
technician
blue-collar
self-employed
admin.
housemaid
entrepreneur
management
student

In [11]:
# This code is to know only the column names of the dataset
import csv

# Define the path to your CSV file
file_path = r"bank-data.csv"  # Update with your actual file path

# Read the CSV file
with open(file_path, mode='r') as file:
    csv_reader = csv.DictReader(file)
    
    # Get and print the column names (fieldnames)
    column_names = csv_reader.fieldnames    # ".fieldnames" this function to print the only column names of the dataset.
    
    # Print each column name on a new line
    for column in column_names:
        print(column)

age
job
marital
y

In [17]:
import csv

# Define the path to your CSV file
file_path = r"bank-data.csv"  # Update with your actual file path

# Read the CSV file
with open(file_path, mode='r') as file:
    csv_reader = csv.DictReader(file)

    # Print the headers (column names)
    print("Headers:", csv_reader.fieldnames)

    # Counter to limit to the first five rows of the dataset, break the loop while the count reaches to "5th" row.
    
    count = 0
    for row in csv_reader:
        print(row)
        count += 1
        if count == 5:  # Stop after printing 5 rows
            break

Headers: ['age', 'job', 'marital', 'y']
{'age': '20', 'job': 'student', 'marital': 'single', 'y': 'yes'}
{'age': '32', 'job': 'management', 'marital': 'single', 'y': 'yes'}
{'age': '49', 'job': 'technician', 'marital': 'married', 'y': 'yes'}
{'age': '32', 'job': 'blue-collar', 'marital': 'married', 'y': 'yes'}
{'age': '33', 'job': 'management', 'marital': 'married', 'y': 'yes'}

In [39]:
import csv

# Define the path to your CSV file
file_path = r"FairDealCustomerData.csv"  # Update with your actual file path

# Read the CSV file
with open(file_path, mode='r') as file:
    csv_reader = csv.DictReader(file)
    # Print the headers (column names)
    print("Headers:", csv_reader.fieldnames)

    count = 0
    for row in csv_reader:
        print(row)
        count += 1
        if count == 5:  # Stop after printing 5 rows
            break

Headers: ['Name', 'blacklisted']
{'Name': ' Mr. Owen Harris ', 'blacklisted': '1'}
{'Name': ' Miss. Laina ', 'blacklisted': '0'}
{'Name': ' Mr. William Henry ', 'blacklisted': '0'}
{'Name': ' Mr. James ', 'blacklisted': '0'}
{'Name': ' Mr. Timothy J ', 'blacklisted': '0'}

In [43]:
import csv

# Define the path to your CSV file
file_path = r"FairDealCustomerData.csv"  # Update with your actual file path

# Read the CSV file
with open(file_path, mode='r') as file:
    csv_reader = csv.DictReader(file)
    
    # Print the headers (column names)
    print("Headers:", csv_reader.fieldnames)

    for row in csv_reader:
        # Print the value in the 'name' column for the current dataset
        print(f"Name: {row['Name']}")

Headers: ['Name', 'blacklisted']
Name:  Mr. Owen Harris
Name:  Miss. Laina
Name:  Mr. William Henry
Name:  Mr. James
Name:  Mr. Timothy J
Name:  Miss. Elizabeth
Name:  Mr. Anders Johan
Name:  Mr. Charles Eugene
Name:  Mrs. Fatima
Name:  Mr. Joseph J
Name:  Mr. Lawrence
Name:  Mr. William Thompson
Name:  Mr. Farred Chehab
Name:  Mr. Lalio
Name:  Don. Manuel E
Name:  Miss. Mary Agatha
Name:  Mr. Edward H
Name:  Mr. Edgar Joseph
Name:  Mr. Alexander Oskar
Name:  Mr. Hanna
Name:  Mr. Theodor
Name: Name
Name:  Mr. William John
Name:  Mr. Denis
Name:  Mr. Youssef
Name:  Mr. Engelhart Cornelius
Name:  Mr. Hugh
Name:  Mr. Mansouer
Name:  Mr. Orsen
Name:  Miss. Amelie
Name:  Mr. Henry Birkhardt
Name:  Mr. Albert A
Name:  Master. Gerios
Name:  Mr. Vincenz
Name:  Mr. Stephen Curnow
Name:  Mr. Apostolos
Name:  Mr. Lee
Name:  Mr. Sigurd Hansen
Name:  Mr. Ivan
Name:  Mr. Rahamin Haim
Name:  Miss. Elizabeth
Name:  Mr. Achille
Name:  Mr. Jan Baptist
Name:  Miss. Brigdet Delia
Name:  Mr. Francisco M
Name:  Mr. Selman Francis
Name:  Miss. Mabel Helen
Name:  Mr. Francesco
Name:  Mr. Emil
Name:  Mr. Herbert Fuller
Name:  Mr. Bertram Frank
Name:  Mr. Daniel
Name:  Mr. Charles Joseph
Name:  Mr. George B
Name:  Mr. William Bertram
Name:  Mr. Sinai
Name:  Miss. Matilda
Name:  Mr. Gustaf Joel
Name:  Mr. Anders Vilhelm
Name:  Mr. Stoytcho
Name:  Mr. Albert Johan
Name:  Mr. Tido
Name:  Miss. Bertha
Name:  Mr. Walter Chamberlain
Name:  Mr. David John
Name:  Mr. Patrick
Name:  Mr. William John Robert
Name:  Mr. Quigg Edmond
Name:  Mr. Leonard Charles
Name:  Mr. Nicholas
Name:  Miss. Susan
Name:  Mr. Percival Wayland
Name:  Mr. Martin
Name:  Mr. Fridtjof Arne
Name:  Miss. Anna
Name:  Mr. Johan
Name:  Mr. Jozef
Name:  Mr. Samuel James Hayden
Name:  Mr. Emile
Name:  Mr. Jacques Heath
Name:  Mr. Victor
Name:  Miss. Anna Sofia
Name:  Rev. Thomas Roussel Davids
Name:  Rev. Robert James
Name:  Mr. Alfonzo
Name:  Mr. Austin Blyler
Name:  Mr. Ole Martin
Name:  Mr. Charles Duane
Name:  Mr. Harry
Name:  Mr. Mile
Name:  Master. Thomas Henry
Name:  Mr. John Hatfield
Name:  Mr. John Viktor
Name:  Mr. John D
Name:  Mr. Lee
Name:  Mr. Wyckoff
Name:  Mr. James Clinch
Name:  Master. Henry Forbes
Name:  Miss. Ann Elizabeth
Name:  Mr. Reginald
Name:  Mr. Lionel
Name:  Miss. Constance Gladys
Name:  Mr. Rene
Name:  Mr. Hugh Roscoe
Name:  Mr. John
Name:  Mr. Stjepan
Name:  Miss. Elise
Name:  Mr. Robert
Name:  Mr. Karl Siegwart Andreas
Name:  Mr. Nestor Cyriel
Name:  Mr. Frederick
Name:  Mr. Jakob Alfred
Name:  Mr. Gerious
Name:  Mr. Karl Alfred
Name:  Mr. Nassef Cassem
Name:  Mr. Henry
Name:  Mr. Ahmed
Name:  Miss. Clear Annie
Name:  Mr. John Henry
Name:  Mr. Hans Kristensen
Name:  Mr. Philip
Name:  Miss. Madeleine
Name:  Miss. Eliina
Name:  Mr. Sidney Samuel
Name:  Miss. Albina
Name:  Mr. Walter
Name:  Mr. James H
Name:  Mr. George Henry
Name:  Mr. Christo
Name:  Mr. Frederick Maxfield
Name:  Mr. Karl Ivar Sven
Name:  Miss. Mathilde
Name:  Mr. Bengt Edvin
Name:  Mr. Ernst Adolf
Name:  Mr. Robert William Norman
Name:  Miss. Alice Phoebe
Name:  Mr. Stephen
Name:  Mr. George Henry
Name:  Miss. Thamine
Name:  Mr. Reginald Charles
Name:  Mr. Matti Alexanteri
Name:  Mr. Sleiman
Name:  Dr. William Edward
Name:  Miss. Agda Thorilda Viktoria
Name:  Mr. Richard Leonard
Name:  Rev. Ernest Courtenay
Name:  Mr. James George
Name:  Mr. William Thomas
Name:  Mr. William Arthur
Name:  Mrs. Gertrude Maybelle
Name:  Miss. Gladys
Name:  Miss. Anna
Name:  Mr. Thomas
Name:  Mr. Emil
Name:  Mr. William
Name:  Miss. Delia
Name:  Mr. David
Name:  Mr. Ernst Ulrik
Name:  Miss. Amelia
Name:  Mr. Alexander
Name:  Mr. William Henry
Name:  Mr. Charles H
Name:  Miss. Kornelia Theodosia
Name:  Miss. Augusta Charlotta
Name:  Mr. Frank
Name:  Mr. Nils Johan Goransson
Name:  Mr. Richard William
Name:  Mr. Ivan
Name:  Mr. Theodore
Name:  Mr. Penko
Name:  Mr. Masabumi
Name:  Miss. Kate
Name:  Mr. Rene Jacques
Name:  Miss. Aloisia
Name:  Mr. Ivan
Name:  Mr. Ervin G
Name:  Mr. Mansour
Name:  Mr. Adolphe
Name:  Mr. Bernard
Name:  Miss. Nora A
Name:  Miss. Margaret
Name:  Mr. Samuel
Name:  Miss. Laura Mabel
Name:  Miss. Margaret Bechstein
Name:  Mr. Ignjac
Name:  Mr. Benjamin
Name:  Miss. Helmina Josefina
Name:  Dr. Ernest
Name:  Miss. Mary Natalie
Name:  Mr. Samuel
Name:  Mr. Yoto
Name:  Miss. Hilda Mary
Name:  Mr. George John Jr
Name:  Miss. Marie Grice
Name:  Mr. Johan Hansen
Name:  Miss. Agnes
Name:  Mr. Austen
Name:  Mr. George Edward
Name:  Mr. Mitto
Name:  Mr. Thomas Clinton
Name:  Miss. Elizabeth Margaret
Name:  Mr. Karl Edwart
Name:  Mr. Stephen Weart
Name:  Miss. Alice Elizabeth
Name:  Mr. Erik Gustaf
Name:  Mr. Charles Frederick Waddington
Name:  Mr. Stanley Hubert
Name:  Miss. Marion Elsie
Name:  Mr. Jovan
Name:  Mr. Nils Martin
Name:  Mr. Fletcher Fellows
Name:  Mr. Josef
Name:  Mr. Wazli
Name:  Mr. Leo Peter
Name:  Miss. Elsie Edith
Name:  Miss. Annie Clemmer
Name:  Miss. Mary
Name:  Mr. Wilhelm
Name:  Mr. Sebastiano
Name:  Mr. Adola
Name:  Mr. Mauritz Nils Martin
Name:  Miss. Annie
Name:  Mme. Leontine Pauline
Name:  Mr. George Achilles
Name:  Mr. Sante
Name:  Miss. Aurora Adelia
Name:  Mr. Harry Elkins
Name:  Miss. Rosalie
Name:  Mr. Juho
Name:  Mr. Vasil
Name:  Miss. Kate
Name:  Mr. Matthew
Name:  Mr. William Ernest
Name:  Mr. Johan Birger
Name:  Miss. Marjorie
Name:  Mr. Erik
Name:  Miss. Elina
Name:  Mr. Peter David
Name:  Dr. Alfred
Name:  Mr. Juha
Name:  Mr. John
Name:  Mr. Pekka Pietari
Name:  Mr. Shadrach
Name:  Mr. Carl/Charles Peter
Name:  Miss. Ida
Name:  Mr. Todor
Name:  Mr. Henry
Name:  Miss. Daisy E
Name:  Mr. Alfred Fleming
Name:  Mr. Johan Julian
Name:  Mr. William John
Name:  Mr. Stanio
Name:  Mr. Leo
Name:  Mr. Phillippe
Name:  Mr. James
Name:  Mr. Mauritz Hakan
Name:  Mr. William Baird
Name:  Mr. Mark
Name:  Mr. Johan Henrik Johannesson
Name:  Mr. Johan Emil
Name:  Ms. Encarnacion
Name:  Mr. Bernt
Name:  Mr. Frederic Kimber
Name:  Major. Arthur Godfrey
Name:  Mr. Edwy Arthur
Name:  Mr. Ingvald Olai Olsen
Name:  Mr. Benjamin Laventall
Name:  Mr. Samuel L
Name:  Mr. Joseph
Name:  Mr. Ivan
Name:  Mr. Francis Davis
Name:  Miss. Ellen
Name:  Mr. Harry
Name:  Mr. William
Name:  Mr. Arthur H
Name:  Mr. Jacob Christian
Name:  Mr. Simon
Name:  Mr. Manuel Estanslas
Name:  Mr. William
Name:  Mr. John Montgomery
Name:  Mr. James
Name:  Mr. Arthur
Name:  Mr. Luka
Name:  Miss. Ida Sofia
Name:  Mr. George Quincy
Name:  Mr. Peter Henry
Name:  Mr. Lewis Richard
Name:  Mr. Nils August
Name:  Mr. Richard Henry
Name:  Mr. Dickinson H
Name:  Miss. Jeannie
Name:  Mr. Edward Austin
Name:  Mr. Francis William
Name:  Mr. Konrad Mathias Reiersen
Name:  Mr. Harry Markland
Name:  Mr. Ramon
Name:  Mr. Gerious
Name:  Miss. Elizabeth Mussey
Name:  Mr. Frederick William
Name:  Mr. Olof
Name:  Miss. Kristina Sofia
Name:  Mr. Henry Margido
Name:  Mr. Fang
Name:  Mr. Eugene Patrick
Name:  Mr. James
Name:  Mr. James Robert
Name:  Mr. Satio
Name:  Mr. William Anderson
Name:  Mr. Patrick
Name:  Mr. Stefo
Name:  Miss. Anne
Name:  Mr. Janko
Name:  Mr. Sarkis
Name:  Mr. Fared
Name:  Mr. James
Name:  Miss. Lucy
Name:  Mr. John
Name:  Mr. Johan Werner
Name:  Mr. Richard George
Name:  Mr. Nakli
Name:  Miss. Marija
Name:  Major. Archibald Willingham
Name:  Miss. Bertha
Name:  Mr. Samuel Beard
Name:  Miss. Hedwig Margaritha
Name:  Miss. Harriet R
Name:  Mr. Edward
Name:  Mr. Walter Donald
Name:  Mr. Arthur Ernest
Name:  Mr. Julian
Name:  Mr. Frank John
Name:  Mr. Percival James R
Name:  Miss. Velin
Name:  Mr. George
Name:  Mr. Victor
Name:  Mr. Thomas Rowan
Name:  Mr. Husein
Name:  Mr. Robert Douglas
Name:  Mr. John
Name:  Mr. Alfred J
Name:  Mr. Tannous
Name:  Mr. Carl
Name:  Mr. George
Name:  Miss. Mary
Name:  Miss. Ethel
Name:  Mr. Eiriik
Name:  Miss. Julie Rachel
Name:  Mr. William James
Name:  Mr. John Hugo
Name:  Mr. Uscher
Name:  Mr. John Denzil
Name:  Mr. Maxmillian
Name:  Mr. Eliezer
Name:  Mr. Joseph
Name:  Mr. Matti
Name:  Mr. William James
Name:  Miss. Mary
Name:  Mr. John Henry
Name:  Mr. Jean Baptiste
Name:  Miss. Jessie Wills
Name:  Mr. Alfred
Name:  Mr. Hanna
Name:  Mr. Petco
Name:  Mr. Charles H
Name:  Mr. Ernst William
Name:  Mr. Edvard Bengtsson
Name:  Mr. Milan
Name:  Mr. Robert Williams
Name:  Miss. Elizabeth W
Name:  Mr. Jose Neto
Name:  Miss. Margaret Jane
Name:  Mr. John
Name:  Mr. William Alfred
Name:  Miss. Alice
Name:  Mr. Ernst Gilbert
Name:  Mr. Lawrence
Name:  Mr. Antoni
Name:  Mr. Edwin Nelson Jr
Name:  Mr. Frederick
Name:  Rev. Charles Leonard
Name:  Mr. Guentcho
Name:  Mr. Algernon Henry Wilson
Name:  Mr. Johan Svensson
Name:  Dr. Max
Name:  Mr. William Henry Marsh
Name:  Miss. Mary
Name:  Mr. Antti Gustaf
Name:  Mr. Harvey
Name:  Mr. Percival
Name:  Mlle. Emma
Name:  Mr. Choong
Name:  Mr. Henry Sleeper
Name:  Col. Oberst Alfons
Name:  Mr. Edward
Name:  Miss. Amy Zillah Elsie
Name:  Mr. Mito
Name:  Mr. Leonard Mark
Name:  Mr. Alexander
Name:  Mr. George Floyd
Name:  Mr. Arthur Webster
Name:  Dr. Henry William
Name:  Mr. Mohamed
Name:  Mr. Edward Pomeroy
Name:  Mr. Peju
Name:  Mr. Lewis
Name:  Mr. Reginald Fenton
Name:  Mr. Knud Paust
Name:  Mr. Jacob
Name:  Mr. Thornton
Name:  Mr. Henry Michael
Name:  Mr. Charles
Name:  Mr. Ennis Hastings
Name:  Mr. Frederick Charles
Name:  Mr. Thomas Drake Martinez
Name:  Miss. Katie
Name:  Mr. Hammad
Name:  Mr. Thomas William Solomon
Name:  Mr. Joseph Philippe Lemercier
Name:  Mr. Albert Adrian
Name:  Mr. Ali
Name:  Mr. Khalil
Name:  Col. John
Name:  Mr. Charles Henry
Name:  Mr. James
Name:  Mr. John Borland
Name:  Mr. Adolf Mathias Nicolai Olsen
Name:  Mr. Spencer Victor
Name:  Mr. Martin
Name:  Mr. Henrik Juul
Name:  Mr. Edward Pennington
Name:  Miss. Alice
Name:  Mr. Herman
Name:  Mr. Elmer Zebley
Name:  Mr. August Viktor
Name:  Mr. Samuel
Name:  Miss. Caroline Louise
Name:  Mr. Michael
Name:  Mr. Malkolm Joackim
Name:  Mr. William Henry
Name:  Mr. Henry Price
Name:  Mr. Norman Campbell
Name:  Miss. Margareth
Name:  Mr. Kurt Arnold Gottfrid
Name:  Miss. Pieta Sofia
Name:  Miss. Elisabeth Walton
Name:  Mr. Robert J
Name:  Mr. William John
Name:  Mr. Moses Aaron
Name:  Mr. Leslie
Name:  Mr. Gustave J
Name:  Mr. Kanio
Name:  Mr. Minko
Name:  Mr. Walter James
Name:  Mr. Tyrell William
Name:  Mr. Neal
Name:  Mr. Juho
Name:  Capt. Edward Gifford
Name:  Miss. Anna
Name:  Mr. Michael
Name:  Mr. Johannes Joseph
Name:  Mr. Lalio
Name:  Mr. August Sigfrid
Name:  Mr. Thomas Leonard
Name:  Mr. John
Name:  Mr. Iisakki Antino Aijo
Name:  Dr. Arthur Jackson
Name:  Miss. Mary
Name:  Mr. Daniel J
Name:  Mr. Daniel Danielsen
Name:  Mr. Rene Aime
Name:  Mr. Niels Peder
Name:  Mr. Dibo
Name:  Mr. Roger
Name:  Mr. Thomas J
Name:  Mr. Milton Clyde
Name:  Mr. Andrew G
Name:  Mr. William
Name:  Mr. Benjamin
Name:  Miss. Stella Anna
Name:  Mr. William Fisher
Name:  Mr. Ristiu
Name:  Mr. Richard
Name:  Mrs. Mara
Name:  Mr. Yousseff
Name:  Mr. Martin
Name:  Mr. Oskar Arvid
Name:  Mr. Karl Johan
Name:  Mr. Thomas Jr
Name:  Mr. August
Name:  Mr. William
Name:  Mr. James
Name:  Mr. Richard James
Name:  Mr. Ernest Portage
Name:  Mr. Richard
Name:  Miss. Wendla Maria
Name:  Mr. Albert
Name:  Mr. John Fredrik Alexander
Name:  Mr. Nikola
Name:  Jonkheer. John George
Name:  Mr. John
Name:  Mr. Len
Name:  Mr. Thomas Joseph
Name:  Mr. Amin
Name:  Mr. Albert
Name:  Miss. Sara Rebecca
Name:  Mr. Maurice
Name:  Mr. Chang
Name:  Mr. Pierre
Name:  Miss. Augusta
Name:  Mr. Peter L
Name:  Mr. Anthony
Name:  Mr. Douglas Bullen
Name:  Mr. Marin
Name:  Rev. John
Name:  Mr. Johan
Name:  Mr. Peter Denis
Name:  Mr. Raihed
Name:  Mr. Claus Peter
Name:  Mr. John William
Name:  Miss. Asuncion
Name:  Mr. Washington Augustus II
Name:  Mr. Philemon
Name:  Mr. Cerin
Name:  Mr. Frans Olof
Name:  Mr. Victor
Name:  Mr. Kristo
Name:  Mr. Johann
Name:  Miss. Gerda Ulrika
Name:  Mr. Frederick James
Name:  Mr. Henry Jr
Name:  Rev. Juozas
Name:  Mr. Karl Howell
Name:  Mr. Patrick

In [53]:
import csv #importing csv file

# Step 1: Define the Custom Exception
class CustomerNotAllowedException(Exception): # it is for the exception coustomer and creating a class
    def __init__(self, message="Customer is blacklisted and not allowed to place an order."):
        self.message = message # it will show up the message
        super().__init__(self.message) # super() refers to the parent class of "CustomerNotAllowedException", which is Exception

# Step 2: Define the Customer Class
class Customer: # it is definig a coustomer class
    def __init__(self, name, is_blacklisted):
        self.name = name
        self.is_blacklisted = bool(int(is_blacklisted))  # Convert to boolean: 1 for True, 0 for False in the given dataset

    def __str__(self): # the str will convert the object to a string
        return f"Customer Name: {self.name}, Blacklisted: {self.is_blacklisted}"

# Step 3: Create the function to create an order
def create_order(customer):
    if customer.is_blacklisted:
        raise CustomerNotAllowedException(f"Customer {customer.name} is blacklisted and cannot create an order.")
    print(f"Order for customer {customer.name} has been successfully created.")

# Step 4: Reading customer data from CSV
def read_customers_from_csv(file_name):
    customers = []
    with open(file_name, mode='r') as file: # 'r' stands for read mode.
        reader = csv.reader(file)
        header = next(reader)  # Skip the header row
        for row in reader:
            name, is_blacklisted = row
            # Ensure that we have a valid blacklisted value ('0' or '1')
            if is_blacklisted not in ['0', '1']: # only check for these values in the rows of the given data
                print(f"Skipping invalid entry: {row}")
                continue
            customer = Customer(name, is_blacklisted)
            customers.append(customer)
    return customers

# Step 5: Example of usage
if __name__ == "__main__": # this is the main function where we create and use for the user input and call the specific function from its defined
    # Read customer data from the CSV file
    customers = read_customers_from_csv('FairDealCustomerData.csv') # now we are passing the given data in the above function and checking the result.

    # Try creating orders for each customer
    for customer in customers: # this is the objection handeling case
        try:
            create_order(customer)
        except CustomerNotAllowedException as e:
            print(e) # this variable will print the exception msg from the exception block of code from the above.

Skipping invalid entry: ['Name', 'Blacklist']
Customer  Mr. Owen Harris  is blacklisted and cannot create an order.
Order for customer  Miss. Laina  has been successfully created.
Order for customer  Mr. William Henry  has been successfully created.
Order for customer  Mr. James  has been successfully created.
Order for customer  Mr. Timothy J  has been successfully created.
Order for customer  Miss. Elizabeth  has been successfully created.
Order for customer  Mr. Anders Johan  has been successfully created.
Customer  Mr. Charles Eugene  is blacklisted and cannot create an order.
Order for customer  Mrs. Fatima  has been successfully created.
Order for customer  Mr. Joseph J  has been successfully created.
Order for customer  Mr. Lawrence  has been successfully created.
Order for customer  Mr. William Thompson  has been successfully created.
Order for customer  Mr. Farred Chehab  has been successfully created.
Order for customer  Mr. Lalio  has been successfully created.
Customer  Don. Manuel E  is blacklisted and cannot create an order.
Order for customer  Miss. Mary Agatha  has been successfully created.
Order for customer  Mr. Edward H  has been successfully created.
Order for customer  Mr. Edgar Joseph  has been successfully created.
Order for customer  Mr. Alexander Oskar  has been successfully created.
Order for customer  Mr. Hanna  has been successfully created.
Order for customer  Mr. Theodor  has been successfully created.
Customer  Mr. William John  is blacklisted and cannot create an order.
Order for customer  Mr. Denis  has been successfully created.
Order for customer  Mr. Youssef  has been successfully created.
Order for customer  Mr. Engelhart Cornelius  has been successfully created.
Order for customer  Mr. Hugh  has been successfully created.
Order for customer  Mr. Mansouer  has been successfully created.
Order for customer  Mr. Orsen  has been successfully created.
Customer  Miss. Amelie  is blacklisted and cannot create an order.
Order for customer  Mr. Henry Birkhardt  has been successfully created.
Order for customer  Mr. Albert A  has been successfully created.
Order for customer  Master. Gerios  has been successfully created.
Order for customer  Mr. Vincenz  has been successfully created.
Order for customer  Mr. Stephen Curnow  has been successfully created.
Order for customer  Mr. Apostolos  has been successfully created.
Customer  Mr. Lee  is blacklisted and cannot create an order.
Order for customer  Mr. Sigurd Hansen  has been successfully created.
Order for customer  Mr. Ivan  has been successfully created.
Order for customer  Mr. Rahamin Haim  has been successfully created.
Order for customer  Miss. Elizabeth  has been successfully created.
Order for customer  Mr. Achille  has been successfully created.
Order for customer  Mr. Jan Baptist  has been successfully created.
Customer  Miss. Brigdet Delia  is blacklisted and cannot create an order.
Order for customer  Mr. Francisco M  has been successfully created.
Order for customer  Mr. Selman Francis  has been successfully created.
Order for customer  Miss. Mabel Helen  has been successfully created.
Order for customer  Mr. Francesco  has been successfully created.
Order for customer  Mr. Emil  has been successfully created.
Order for customer  Mr. Herbert Fuller  has been successfully created.
Customer  Mr. Bertram Frank  is blacklisted and cannot create an order.
Order for customer  Mr. Daniel  has been successfully created.
Order for customer  Mr. Charles Joseph  has been successfully created.
Order for customer  Mr. George B  has been successfully created.
Order for customer  Mr. William Bertram  has been successfully created.
Order for customer  Mr. Sinai  has been successfully created.
Order for customer  Miss. Matilda  has been successfully created.
Customer  Mr. Gustaf Joel  is blacklisted and cannot create an order.
Order for customer  Mr. Anders Vilhelm  has been successfully created.
Order for customer  Mr. Stoytcho  has been successfully created.
Order for customer  Mr. Albert Johan  has been successfully created.
Order for customer  Mr. Tido  has been successfully created.
Order for customer  Miss. Bertha  has been successfully created.
Order for customer  Mr. Walter Chamberlain  has been successfully created.
Customer  Mr. David John  is blacklisted and cannot create an order.
Order for customer  Mr. Patrick  has been successfully created.
Order for customer  Mr. William John Robert  has been successfully created.
Order for customer  Mr. Quigg Edmond  has been successfully created.
Order for customer  Mr. Leonard Charles  has been successfully created.
Order for customer  Mr. Nicholas  has been successfully created.
Order for customer  Miss. Susan  has been successfully created.
Customer  Mr. Percival Wayland  is blacklisted and cannot create an order.
Order for customer  Mr. Martin  has been successfully created.
Order for customer  Mr. Fridtjof Arne  has been successfully created.
Order for customer  Miss. Anna  has been successfully created.
Order for customer  Mr. Johan  has been successfully created.
Order for customer  Mr. Jozef  has been successfully created.
Order for customer  Mr. Samuel James Hayden  has been successfully created.
Customer  Mr. Emile  is blacklisted and cannot create an order.
Order for customer  Mr. Jacques Heath  has been successfully created.
Order for customer  Mr. Victor  has been successfully created.
Order for customer  Miss. Anna Sofia  has been successfully created.
Order for customer  Rev. Thomas Roussel Davids  has been successfully created.
Order for customer  Rev. Robert James  has been successfully created.
Order for customer  Mr. Alfonzo  has been successfully created.
Customer  Mr. Austin Blyler  is blacklisted and cannot create an order.
Order for customer  Mr. Ole Martin  has been successfully created.
Order for customer  Mr. Charles Duane  has been successfully created.
Order for customer  Mr. Harry  has been successfully created.
Order for customer  Mr. Mile  has been successfully created.
Order for customer  Master. Thomas Henry  has been successfully created.
Order for customer  Mr. John Hatfield  has been successfully created.
Customer  Mr. John Viktor  is blacklisted and cannot create an order.
Order for customer  Mr. John D  has been successfully created.
Order for customer  Mr. Lee  has been successfully created.
Order for customer  Mr. Wyckoff  has been successfully created.
Order for customer  Mr. James Clinch  has been successfully created.
Order for customer  Master. Henry Forbes  has been successfully created.
Order for customer  Miss. Ann Elizabeth  has been successfully created.
Customer  Mr. Reginald  is blacklisted and cannot create an order.
Order for customer  Mr. Lionel  has been successfully created.
Order for customer  Miss. Constance Gladys  has been successfully created.
Order for customer  Mr. Rene  has been successfully created.
Order for customer  Mr. Hugh Roscoe  has been successfully created.
Order for customer  Mr. John  has been successfully created.
Order for customer  Mr. Stjepan  has been successfully created.
Customer  Miss. Elise  is blacklisted and cannot create an order.
Order for customer  Mr. Robert  has been successfully created.
Order for customer  Mr. Karl Siegwart Andreas  has been successfully created.
Order for customer  Mr. Nestor Cyriel  has been successfully created.
Order for customer  Mr. Frederick  has been successfully created.
Order for customer  Mr. Jakob Alfred  has been successfully created.
Order for customer  Mr. Gerious  has been successfully created.
Customer  Mr. Karl Alfred  is blacklisted and cannot create an order.
Order for customer  Mr. Nassef Cassem  has been successfully created.
Order for customer  Mr. Henry  has been successfully created.
Order for customer  Mr. Ahmed  has been successfully created.
Order for customer  Miss. Clear Annie  has been successfully created.
Order for customer  Mr. John Henry  has been successfully created.
Order for customer  Mr. Hans Kristensen  has been successfully created.
Customer  Mr. Philip  is blacklisted and cannot create an order.
Order for customer  Miss. Madeleine  has been successfully created.
Order for customer  Miss. Eliina  has been successfully created.
Order for customer  Mr. Sidney Samuel  has been successfully created.
Order for customer  Miss. Albina  has been successfully created.
Order for customer  Mr. Walter  has been successfully created.
Order for customer  Mr. James H  has been successfully created.
Customer  Mr. George Henry  is blacklisted and cannot create an order.
Order for customer  Mr. Christo  has been successfully created.
Order for customer  Mr. Frederick Maxfield  has been successfully created.
Order for customer  Mr. Karl Ivar Sven  has been successfully created.
Order for customer  Miss. Mathilde  has been successfully created.
Order for customer  Mr. Bengt Edvin  has been successfully created.
Order for customer  Mr. Ernst Adolf  has been successfully created.
Customer  Mr. Robert William Norman  is blacklisted and cannot create an order.
Order for customer  Miss. Alice Phoebe  has been successfully created.
Order for customer  Mr. Stephen  has been successfully created.
Order for customer  Mr. George Henry  has been successfully created.
Order for customer  Miss. Thamine  has been successfully created.
Order for customer  Mr. Reginald Charles  has been successfully created.
Order for customer  Mr. Matti Alexanteri  has been successfully created.
Customer  Mr. Sleiman  is blacklisted and cannot create an order.
Order for customer  Dr. William Edward  has been successfully created.
Order for customer  Miss. Agda Thorilda Viktoria  has been successfully created.
Order for customer  Mr. Richard Leonard  has been successfully created.
Order for customer  Rev. Ernest Courtenay  has been successfully created.
Order for customer  Mr. James George  has been successfully created.
Order for customer  Mr. William Thomas  has been successfully created.
Customer  Mr. William Arthur  is blacklisted and cannot create an order.
Order for customer  Mrs. Gertrude Maybelle  has been successfully created.
Order for customer  Miss. Gladys  has been successfully created.
Order for customer  Miss. Anna  has been successfully created.
Order for customer  Mr. Thomas  has been successfully created.
Order for customer  Mr. Emil  has been successfully created.
Order for customer  Mr. William  has been successfully created.
Customer  Miss. Delia  is blacklisted and cannot create an order.
Order for customer  Mr. David  has been successfully created.
Order for customer  Mr. Ernst Ulrik  has been successfully created.
Order for customer  Miss. Amelia  has been successfully created.
Order for customer  Mr. Alexander  has been successfully created.
Order for customer  Mr. William Henry  has been successfully created.
Order for customer  Mr. Charles H  has been successfully created.
Customer  Miss. Kornelia Theodosia  is blacklisted and cannot create an order.
Order for customer  Miss. Augusta Charlotta  has been successfully created.
Order for customer  Mr. Frank  has been successfully created.
Order for customer  Mr. Nils Johan Goransson  has been successfully created.
Order for customer  Mr. Richard William  has been successfully created.
Order for customer  Mr. Ivan  has been successfully created.
Order for customer  Mr. Theodore  has been successfully created.
Customer  Mr. Penko  is blacklisted and cannot create an order.
Order for customer  Mr. Masabumi  has been successfully created.
Order for customer  Miss. Kate  has been successfully created.
Order for customer  Mr. Rene Jacques  has been successfully created.
Order for customer  Miss. Aloisia  has been successfully created.
Order for customer  Mr. Ivan  has been successfully created.
Order for customer  Mr. Ervin G  has been successfully created.
Customer  Mr. Mansour  is blacklisted and cannot create an order.
Order for customer  Mr. Adolphe  has been successfully created.
Order for customer  Mr. Bernard  has been successfully created.
Order for customer  Miss. Nora A  has been successfully created.
Order for customer  Miss. Margaret  has been successfully created.
Order for customer  Mr. Samuel  has been successfully created.
Order for customer  Miss. Laura Mabel  has been successfully created.
Customer  Miss. Margaret Bechstein  is blacklisted and cannot create an order.
Order for customer  Mr. Ignjac  has been successfully created.
Order for customer  Mr. Benjamin  has been successfully created.
Order for customer  Miss. Helmina Josefina  has been successfully created.
Order for customer  Dr. Ernest  has been successfully created.
Order for customer  Miss. Mary Natalie  has been successfully created.
Order for customer  Mr. Samuel  has been successfully created.
Customer  Mr. Yoto  is blacklisted and cannot create an order.
Order for customer  Miss. Hilda Mary  has been successfully created.
Order for customer  Mr. George John Jr  has been successfully created.
Order for customer  Miss. Marie Grice  has been successfully created.
Order for customer  Mr. Johan Hansen  has been successfully created.
Order for customer  Miss. Agnes  has been successfully created.
Order for customer  Mr. Austen  has been successfully created.
Customer  Mr. George Edward  is blacklisted and cannot create an order.
Order for customer  Mr. Mitto  has been successfully created.
Order for customer  Mr. Thomas Clinton  has been successfully created.
Order for customer  Miss. Elizabeth Margaret  has been successfully created.
Order for customer  Mr. Karl Edwart  has been successfully created.
Order for customer  Mr. Stephen Weart  has been successfully created.
Order for customer  Miss. Alice Elizabeth  has been successfully created.
Customer  Mr. Erik Gustaf  is blacklisted and cannot create an order.
Order for customer  Mr. Charles Frederick Waddington  has been successfully created.
Order for customer  Mr. Stanley Hubert  has been successfully created.
Order for customer  Miss. Marion Elsie  has been successfully created.
Order for customer  Mr. Jovan  has been successfully created.
Order for customer  Mr. Nils Martin  has been successfully created.
Order for customer  Mr. Fletcher Fellows  has been successfully created.
Customer  Mr. Josef  is blacklisted and cannot create an order.
Order for customer  Mr. Wazli  has been successfully created.
Order for customer  Mr. Leo Peter  has been successfully created.
Order for customer  Miss. Elsie Edith  has been successfully created.
Order for customer  Miss. Annie Clemmer  has been successfully created.
Order for customer  Miss. Mary  has been successfully created.
Order for customer  Mr. Wilhelm  has been successfully created.
Customer  Mr. Sebastiano  is blacklisted and cannot create an order.
Order for customer  Mr. Adola  has been successfully created.
Order for customer  Mr. Mauritz Nils Martin  has been successfully created.
Order for customer  Miss. Annie  has been successfully created.
Order for customer  Mme. Leontine Pauline  has been successfully created.
Order for customer  Mr. George Achilles  has been successfully created.
Order for customer  Mr. Sante  has been successfully created.
Customer  Miss. Aurora Adelia  is blacklisted and cannot create an order.
Order for customer  Mr. Harry Elkins  has been successfully created.
Order for customer  Miss. Rosalie  has been successfully created.
Order for customer  Mr. Juho  has been successfully created.
Order for customer  Mr. Vasil  has been successfully created.
Order for customer  Miss. Kate  has been successfully created.
Order for customer  Mr. Matthew  has been successfully created.
Customer  Mr. William Ernest  is blacklisted and cannot create an order.
Order for customer  Mr. Johan Birger  has been successfully created.
Order for customer  Miss. Marjorie  has been successfully created.
Order for customer  Mr. Erik  has been successfully created.
Order for customer  Miss. Elina  has been successfully created.
Order for customer  Mr. Peter David  has been successfully created.
Order for customer  Dr. Alfred  has been successfully created.
Customer  Mr. Juha  is blacklisted and cannot create an order.
Order for customer  Mr. John  has been successfully created.
Order for customer  Mr. Pekka Pietari  has been successfully created.
Order for customer  Mr. Shadrach  has been successfully created.
Order for customer  Mr. Carl/Charles Peter  has been successfully created.
Order for customer  Miss. Ida  has been successfully created.
Order for customer  Mr. Todor  has been successfully created.
Customer  Mr. Henry  is blacklisted and cannot create an order.
Order for customer  Miss. Daisy E  has been successfully created.
Order for customer  Mr. Alfred Fleming  has been successfully created.
Order for customer  Mr. Johan Julian  has been successfully created.
Order for customer  Mr. William John  has been successfully created.
Order for customer  Mr. Stanio  has been successfully created.
Order for customer  Mr. Leo  has been successfully created.
Customer  Mr. Phillippe  is blacklisted and cannot create an order.
Order for customer  Mr. James  has been successfully created.
Order for customer  Mr. Mauritz Hakan  has been successfully created.
Order for customer  Mr. William Baird  has been successfully created.
Order for customer  Mr. Mark  has been successfully created.
Order for customer  Mr. Johan Henrik Johannesson  has been successfully created.
Order for customer  Mr. Johan Emil  has been successfully created.
Customer  Ms. Encarnacion  is blacklisted and cannot create an order.
Order for customer  Mr. Bernt  has been successfully created.
Order for customer  Mr. Frederic Kimber  has been successfully created.
Order for customer  Major. Arthur Godfrey  has been successfully created.
Order for customer  Mr. Edwy Arthur  has been successfully created.
Order for customer  Mr. Ingvald Olai Olsen  has been successfully created.
Order for customer  Mr. Benjamin Laventall  has been successfully created.
Customer  Mr. Samuel L  is blacklisted and cannot create an order.
Order for customer  Mr. Joseph  has been successfully created.
Order for customer  Mr. Ivan  has been successfully created.
Order for customer  Mr. Francis Davis  has been successfully created.
Order for customer  Miss. Ellen  has been successfully created.
Order for customer  Mr. Harry  has been successfully created.
Order for customer  Mr. William  has been successfully created.
Customer  Mr. Arthur H  is blacklisted and cannot create an order.
Order for customer  Mr. Jacob Christian  has been successfully created.
Order for customer  Mr. Simon  has been successfully created.
Order for customer  Mr. Manuel Estanslas  has been successfully created.
Order for customer  Mr. William  has been successfully created.
Order for customer  Mr. John Montgomery  has been successfully created.
Order for customer  Mr. James  has been successfully created.
Customer  Mr. Arthur  is blacklisted and cannot create an order.
Order for customer  Mr. Luka  has been successfully created.
Order for customer  Miss. Ida Sofia  has been successfully created.
Order for customer  Mr. George Quincy  has been successfully created.
Order for customer  Mr. Peter Henry  has been successfully created.
Order for customer  Mr. Lewis Richard  has been successfully created.
Order for customer  Mr. Nils August  has been successfully created.
Customer  Mr. Richard Henry  is blacklisted and cannot create an order.
Order for customer  Mr. Dickinson H  has been successfully created.
Order for customer  Miss. Jeannie  has been successfully created.
Order for customer  Mr. Edward Austin  has been successfully created.
Order for customer  Mr. Francis William  has been successfully created.
Order for customer  Mr. Konrad Mathias Reiersen  has been successfully created.
Order for customer  Mr. Harry Markland  has been successfully created.
Customer  Mr. Ramon  is blacklisted and cannot create an order.

In [55]:
class Customer:
    def __init__(self, name, is_blacklisted):
        # Initialize the object's attributes
        self.name = name
        self.is_blacklisted = is_blacklisted

    def __str__(self):
        return f"Customer Name: {self.name}, Blacklisted: {self.is_blacklisted}"

# Create a new Customer object
customer1 = Customer("John Doe", False)

# Print the customer object
print(customer1)

Customer Name: John Doe, Blacklisted: False

In [75]:
class Car:

    # When you need to represent objects with specific characteristics and behaviors, 
    # classes provide a natural structure. For instance, 
    # you might create a Car class with attributes like color, make, model, and methods like start_engine, accelerate, and brake.
    
    def __init__(self, brand, type, colour, number_of_doors):
        # Initialize the object's attributes
        self.brand = brand
        self.type = type
        self.colour = colour
        self.number_of_doors = number_of_doors

    def __str__(self):
        return f"Car brand: {self.brand}, and the car type: {self.type}, car colour (many colour options): {self.colour}, number of doors in this car: {self.number_of_doors}"

# Create the car objects
car1 = Car("Suzuki", "SUV", "Red", "Four")
car2 = Car("Toyota", "Sedan", "Blue", "Four")
car3 = Car("Honda", "Hatchback", "Green", "Two")
car4 = Car("Ford", "Truck", "Black", "Two")
car5 = Car("BMW", "Coupe", "White", "Two")
car6 = Car("Mercedes", "Convertible", "Silver", "Two")

# Store all car objects in a list
cars = [car1, car2, car3, car4, car5, car6]

# Print all car objects together
for car in cars:
    print(car)

Car brand: Suzuki, and the car type: SUV, car colour (many colour options): Red, number of doors in this car: Four
Car brand: Toyota, and the car type: Sedan, car colour (many colour options): Blue, number of doors in this car: Four
Car brand: Honda, and the car type: Hatchback, car colour (many colour options): Green, number of doors in this car: Two
Car brand: Ford, and the car type: Truck, car colour (many colour options): Black, number of doors in this car: Two
Car brand: BMW, and the car type: Coupe, car colour (many colour options): White, number of doors in this car: Two
Car brand: Mercedes, and the car type: Convertible, car colour (many colour options): Silver, number of doors in this car: Two


<span style="color: red; font-weight: bold;">Python Data Type Summary</span>

In [84]:
# Type	                      Description	                              Example

# int :	                  Integer (whole numbers)	                       x = 10
# float :	             Floating-point numbers	                           y = 3.14
# complex :       	Complex numbers with real and imaginary parts	       z = 1 + 2j
# str :	                       String (text)	                           text = "Hello"
# list :	        Ordered, mutable collection of items	               my_list = [1, 2, 3]
# tuple	:           Ordered, immutable collection of items	               my_tuple = (1, 2, 3)
# range :	       Sequence of numbers, typically used for loops	       my_range = range(5)
# dict :	           Dictionary (key-value pairs)	                       my_dict = {'key': 5}
# set :	             Unordered collection of unique items	               my_set = {1, 2, 3}
# frozenset :                   Immutable set	                           frozen_set = frozenset([1, 2])
# bool :	             Boolean (True or False)	                       is_valid = True
# bytes :	            Immutable sequence of bytes	                       my_bytes = b"abc"
# bytearray :	        Mutable sequence of bytes	                       my_bytearray = bytearray([65, 66])
# memoryview :	       Memory view object for binary data	               my_memoryview = memoryview(b"data")
# None :	           Represents the absence of a value	               my_var = None

In [108]:
for i in range (0, 5+1):
    print (i)

0
1
2
3
4
5

In [114]:
my_dict = {'key': 5}
my_dict

{'key': 5}

In [116]:
my_set = {1, 2, 3, 2, 3, 1} # set always to be define on cyrly brases
my_set

{1, 2, 3}

In [122]:
frozen_set = frozenset([1, 2])
frozen_set

frozenset({1, 2})

In [11]:
# Get user input for user ID and password

user_id = input("Enter the user ID: ")  # Renamed the variable from 'input' to 'user_id'
user_password = input("Enter the password: ")

# Password validation function

def validate_password(password):
    # Check if password is valid (for demonstration purposes, let's assume a simple check)
    if password.isdigit() and 6 <= len(password) <= 8:  # Password must be a number between 6-8 characters long
        print("Password is valid.")
    elif any(char in "*#@" for char in password):  # Check if the password contains special characters
        print("Password is valid with special characters.")
    else:
        print("Password is invalid. It must contain digits and/or special characters like *#@.")

# Example call to password validation

validate_password(user_password)

Enter the user ID:  mukuy
Enter the password:  mk76u

Password is invalid. It must contain digits and/or special characters like *#@.

In [9]:
my_tuple = (1, 1, 2, 2, 2, 3, 3)
my_tuple

(1, 1, 2, 2, 2, 3, 3)

In [13]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dect = {k:v for k, v in zip(keys, values)}
print(my_dect)

{'a': 1, 'b': 2, 'c': 3}

In [1]:
import os
# Get the current working directory
current_directory = os.getcwd()
print(current_directory)

C:\Users\Dell